{{#if loggedIn}}
    <header>
        <a href="/feed/{{pet.id}}">Feed</a>
    </header>
<div id="homepage-container">

    <div id="pet-profile-card">
     {{#with pet}}
        <img src="https://via.placeholder.com/100" alt="User profile" class="profile-pic">
        <h2 class="pet-name">{{name}}</h2>
        <ul id="pet-info">
            <li id="pet-breed">Breed: {{breed}}</li>   
            <li id="pet-age">Age: {{age}}</li> 
            <li id="pet-gender">Gender: {{gender}}</li> 
            <li id="pet-bio">Bio: {{bio}}</li> 
        </ul>
        {{>pet-actions}}
    {{/with}}
    <a href="javascript:history.back()" class="back-button">Back to My Pets</a>
    </div>
    <div id="pet-posts-container">
        

    </div>
   
    <div id="playdate-requests-container"> Playdate requests will be displayed here

    </div>
</div>
  {{else}}
  {{> login-msg}}
   {{/if}}

    <script src="/js/logout.js"></script>
     <script src="/js/logic.js"></script>
    <script src="/js/router.js"></script>
