{{#if loggedIn}}
<h1>Home View</h1>
<div id="pet-profile-container">
        <img src="https://via.placeholder.com/100" alt="User profile" class="profile-pic">
        <h2 class="pet-name">{{pet.name}}, {{pet.breed}}</h2>
        <p id="age">Age: {{pet.age}}<p>
        <p id="gender">{{pet.gender}}</p>
        <p id="pet-bio">{{pet.bio}}</p> 
        {{>pet-actions}}
</div>
        <section class="feed">
            {{#each posts as |post|}}
            <li>
            <div class="post-card">
                <header class="post-header">
                    <img src="https://via.placeholder.com/50" alt="User avatar" class="avatar">
                    <span class="username">pet name</span>
                    <button class="schedule-btn">schedule playdate</button>
                </header>
                <img src="https://via.placeholder.com/400x300" alt="Post image" class="post-image">
                <p class="post-content">{{post.content}}</p>
                <button>request playdate</button>
             </div>
            </li>
            {{/each}}
        </section>
        <!--<aside class="sidebar playdate-panel">
            <h2>playdates:</h2>
            <div class="playdate-request">
                <img src="https://via.placeholder.com/50" alt="User avatar" class="avatar">
                <span class="username">@user123</span>
                <div class="action-buttons">
                    <button class="accept-btn">accept</button>
                    <button class="decline-btn">decline</button>
                </div>
            </div>
            More playdate requests would go here 
        </aside>-->
 
  {{else}}
 {{> login-msg}}
   {{/if}}

      <script src="/js/logout.js"></script>
     <script src="/js/logic.js"></script>
    <script src="/js/router.js"></script>